*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-family: Arial, Helvetica, sans-serif ;
    scroll-behavior: smooth;
}







/* common */
.clear{
    clear: both;
}

.textwhite{
    color: #fff !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mt-16{
    margin-top: 16px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-3{
    width: calc(100% /3);
}

.col-4{
    width: 25%;
}
.col-2{
    width: 50%;
}
.col-full{
    width: 100%;
}

/* main */
main{

}
#header{
    width: 100%;
    height: 46px;
    background-color: #000000;
    position: fixed; top: 0%;
    z-index: 1;
    opacity: 0.95;
    
}

#logo{
    width: 100px;
    height: 46px;
    background: url(../css/aaa.gif) no-repeat center / contain;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline-block;
    
}

#nav .p1
{
    margin-left: 100px;
}

#nav{
    display: inline-block;
    position: relative;
    
}

.subnav{
    list-style-type: none;
}

#nav>li{
    display: inline-block;
}
#nav li {
    
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav>li>a{
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

#nav .subnav{
    position:absolute;
    display: none;
    min-width: 160px;
    background-color: #fff;
    /* top: 100%;
    left: 0; */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
 

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav>li:hover>a, 
#nav .subnav li:hover
{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block; 
}

.nav-muiten{
    font-size: 10px;
}

#header .menu-mobile-btn,
#header .search-btn{
    
    float: right;
    padding: 0 21px;

}
#header .menu-mobile-btn{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .menu-mobile-btn:hover{
    background-color: #ccc;
}
#header .menu-mobile-btn:hover .menu-ico{
    color: #000;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-ico,
#header .search-ico{
    color: #fff;
    font-size: 25px;
    line-height: 46px;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background:   url('../img/jinx2.jpg') top center / cover no-repeat;
    position: relative;
    width: 100%;
    
}
#slider .textSlider{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    text-shadow: 0 0 1px #000;
}
 
#slider .textHeading{
    font-weight: 500;
    font-size: 24px;
    margin-top: 25px;
}

#slider .textfooter{
    font-size: 15px;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 114px;
    padding-left: 16px;
    padding-right: 16px;

}
#content .section-heading,
#content .subsection-heading{
    text-align: center;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
}

#content .subsection-heading{
    font-size: 15px;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-jinxx p{
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

#content .skin{
    margin-top: 48px;
}
#content .skin-item{
    text-align: center;
}

#content .nameskin{
    font-size: 15px;
    font-weight: bold ;

}

#content .img-skin{
    margin-top: 15px;
    width: 180px;
    border-radius: 10px;
}

#content .phan2{
    background-color: #000;
}

#content .phan2 ul{
    background-color: #fff;
}

.ticklist-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}

.ticklist-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticklist-list .con-ve{
    width: 24px;
    height: 24px;
    background-color: #000;
    color:#fff;
    float: right;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

/* map */
.mapimg-list{
    margin-top: 16px;
    
}
.map-item{
    
    width: calc(100%/3);
    
}
.map-img{
    width: 100%;
    display: block;
}

.map-img:hover{
    opacity: 60%;
}

.map-text{
    /* font-size: 10px; */
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.tenmap{
    font-size: 15px;
    font-weight: 700;
}
.maptime{
    margin-top: 15px;
    opacity: 0.6;
}
.map-noidung{
    margin-top: 15px;
    line-height: 1.4;  
}
.map-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}

.map-btn:hover{
    color: #000;
    background-color: #ccc;
}


.modal{
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
   
}

.modal-container{
    background-color: #fff;
    border-radius: 10px;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.9s;
}

.modal-header {
    align-items: center;
    background-color: #2b558e;
    height: 130px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    border-radius: 10px 10px 0px 0px;

}

.modal-heading-icon{
    margin-right: 10px;
    font-weight: 800;
}
.modal .modal-close{
    position: absolute;
    right: 0;
    top: 0%;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    opacity: 0.7;
}
.modal .modal-close:hover{
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 24px;
}
.buy-tickest {
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px;
    color: #fff;
    background-color: #2b558e;
    cursor: pointer;
}
.buy-tickest:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}
.moda-help a{
    color: #2196F3;
}

.contact-content{
    display: inline-block;
}

.contact-i4{
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
}
.contact-i4 p i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;

}
.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.row-form2{
    margin-top: 8px;
}

.btn-send{
    margin-top: 16px;
    text-align: center;
    /* display: block; */
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    padding: 10px 16px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-send:hover{
    opacity: 0.9;
}

.anhbia img{
    width: 100%;
}



.footer{
    padding: 64px 16px;
    text-align: center;
}

.socials-list{
    font-size: 24px;

}

.coppyright a,
.socials-list a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
.socials-list a:hover{
    opacity: 0.4;
}
.coppyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}


@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}